{% extends 'basejdida.html.twig' %}

{% block title %}Speciality index{% endblock %}
{% block test %}
    <li><a href="{{ path("etablissement_edit",{'id':id }) }}">Modifier Votre compte</a> </li>
    <li><a href="{{ path("cours_index",{'id_Etab':id}) }}">Mes cours</a> </li>
    <li><a href="{{ path("article_profile",{'id':id}) }}">Mon Forum</a></li>
    <li><a href="{{ path("article",{'id':id}) }}">Forum</a></li>
    <li><a href="{{ path("speciality_index",{'id':id}) }}">Mes Specialitées</a></li>

{% endblock %}
{% block body %}
    <h1>Speciality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_Sp</th>
                <th>Discription</th>
                <th>Score Bac Eco</th>
                <th>Score Bac Info</th>
                <th>Score Bac Let</th>
                <th>Score Bac Math</th>
                <th>Score Bac Science</th>
                <th>Score Bac Sport</th>
                <th>Score Bac Tech</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speciality in specialities %}
            {% for score in speciality.scoreapproxes %}
            <tr>
                <td>{{ speciality.id }}</td>
                <td>{{ speciality.NomSp }}</td>
                <td>{{ speciality.Discription }}</td>
                <td>{{ score.ScoreECO }}</td>
                <td>{{ score.ScoreINFO }}</td>
                <td>{{ score.ScoreLET }}</td>
                <td>{{ score.ScoreMATH }}</td>
                <td>{{ score.ScoreSc }}</td>
                <td>{{ score.ScoreSPORT }}</td>
                <td>{{ score.ScoreTECH }}</td>
                <td>

                    <a href="{{ path('speciality_edit', {'id': speciality.id , 'idetab': id})  }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('speciality_new', {'id': id}) }}">Create new</a>
{% endblock %}
