{% extends 'basejdida.html.twig' %}

{% block title %}New Speciality{% endblock %}
{% block test %}
    <li><a href="{{ path("etablissement_edit",{'id':id }) }}">Modifier Votre compte</a> </li>
    <li><a href="{{ path("cours_index",{'id_Etab':id}) }}">Mes cours</a> </li>
    <li><a href="{{ path("article_profile",{'id':id}) }}">Mon Forum</a></li>
    <li><a href="{{ path("article",{'id':id}) }}">Forum</a></li>
    <li><a href="{{ path("speciality_index",{'id':id}) }}">Mes Specialitées</a></li>

{% endblock %}
{% block body %}
    <h1>Create new Speciality</h1>

    {{ include('speciality/_form.html.twig') }}

    <a href="{{ path('speciality_index', {'id':id}) }}">back to list</a>
{% endblock %}
