{% extends 'base-houssem.html.twig' %}

{% block title %}Speciality{% endblock %}

{% block body %}
    <h1>Speciality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEtb</th>
                <td>{{ speciality.idEtb }}</td>
            </tr>
            <tr>
                <th>NomSp</th>
                <td>{{ speciality.nomSp }}</td>
            </tr>
            <tr>
                <th>Discription</th>
                <td>{{ speciality.discription }}</td>
            </tr>
            <tr>
                <th>IdSpec</th>
                <td>{{ speciality.idSpec }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('speciality_index') }}">back to list</a>

    <a href="{{ path('speciality_edit', {'idSpec': speciality.idSpec}) }}">edit</a>

    {{ include('speciality/_delete_form.html.twig') }}
{% endblock %}
