{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Datepub</th>
                <th>ContenueArticle</th>
                <th>IdArt</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.datepub ? article.datepub|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.contenueArticle }}</td>
                <td>{{ article.idArt }}</td>
                <td>{{ article.titre }}</td>
                <td>
                    <a href="{{ path('articles_show', {'idArt': article.idArt}) }}">show</a>
                    <a href="{{ path('articles_edit', {'idArt': article.idArt}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articles_new') }}">Create new</a>
{% endblock %}
