{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ club.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ club.description }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ club.domaine }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ club.places }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
        </tbody>
    </table>
    {% if id == null %}
    <a href="{{ path('club_index',{'id':iduser}) }}">back to list</a>
    {% else %}
    <a href="{{ path('club_index',{'id':id}) }}">back to list</a>

    <a href="{{ path('club_edit', {'id': club.id,'idetab':id}) }}">edit</a>
    {% endif %}

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
