{% extends 'basejdida.html.twig' %}

{% block title %} Forum {% endblock %}
{% block test %}
    <li><a href="{{ path("etablissement_edit",{'id':id }) }}">Modifier Votre compte</a> </li>
    <li><a href="{{ path("cours_index",{'id_Etab':id}) }}">Mes cours</a> </li>
    <li><a href="{{ path("article_profile",{'id':id}) }}">Mon Forum</a></li>
    <li><a href="{{ path("article",{'id':id}) }}">Forum</a></li>
    <li><a href="{{ path("speciality_index",{'id':id}) }}">Mes Specialitées</a></li>

{% endblock %}

{% block body %}
{% for article in articles %}
    <article style="margin-left: 400px">
        <h2>{{article.title | raw}}</h2>
        <h3>{{ article.getEtablissement().Nom }}</h3>
        <div class="metadata">{{ article.createdAt | format_datetime() }}</div>
        <div class="content">
            <img src="{{asset('/uploads/'~ article.image )  }}" alt="">
            <section>
            <div>
                <p>{{ article.content | u.truncate(100) | raw }}</p>
            </div>
            </section>
        </div>
        <a href="{{ path('article_show', {'id': article.id,'idetab':id})  }}" class="btn btn-info">Lire la suite</a>
    </article>

{% endfor%}
{% endblock %}
