{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <style>
        section{
            border:1px solid #b1dfbb;
            padding:15px;
            margin:10px;
        }
    </style>
    <div class="row" {% for i in articles %}  >
        <div>

        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <section>
                    <h5 class="card-title">{{  i.titre}}</h5>
                    <h6> {{ i.datepub|date('d/m/Y') }} </h6>
                    <p class="card-text">{{ i.contenueArticle }}</p>
                    </section>
                    <div {% for j in Comnt %}>
                       <div {% if   j.idArt.getIdArt()==3 %}>
                        <section>
                            <h5 class="card-title">{{  j.contenue}}</h5>
                            <h6> {{ j.datepubcom|date('d/m/Y') }} </h6>
                        </section>
                       </div {% endif %}>
                    </div {% endfor  %}>
                    <input type="text"  class="form-control-plaintext"  value="Saisie un Commentaire">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        </div>
        <br>
    </div {% endfor  %} >

{% endblock %}